.peice-pc {
    width: 12em;
    height: 12em;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .solved-pc{
    font-size: 96px;
    color: white;
    font-weight: bold;
  }
  
  .peice-pc .l, .peice-pc .r, .peice-pc .t, .peice-pc .b, .peice-pc div{
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    position: absolute;
  }

  .peice-pc .t {
   width: 4em;
    height: 4em;
    top: -2em;
    left: 4em;
  }
  
  .peice-pc .r {
   width: 4em;
    height: 4em;
    top: 4em;
    left: 10em;
  }
  
  .peice-pc .b { 
   width: 4em;
    height: 4em;
    top: 10em;
    left: 4em;
  }
  
  .peice-pc .l { 
   width: 4em;
    height: 4em;
    top: 4em;
    left: -2em;
  }